<div class="card">
  <h3>Existing Subjects</h3>
  <div *ngIf="subjects.length === 0" class="no-data">
    No subjects found. Create your first subject above.
  </div>
  <table *ngIf="subjects.length > 0" class="data-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Teacher</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subject of subjects">
      <td><strong>{{ subject.name }}</strong></td>
      <td>{{ subject.description || 'No description' }}</td>
      <td>
        <div *ngIf="subject.teacher; else noTeacher">
          {{ subject.teacher.name }} {{ subject.teacher.lastName }} &nbsp;&nbsp;
          <button class="btn-small" (click)="onRemoveTeacher(subject)">Remove</button>
        </div>
        <ng-template #noTeacher>
          <div class="teacher-assignment">
            <select #teacherSelect>
              <option value="">Assign Teacher</option>
              <option *ngFor="let teacher of teachers" [value]="teacher.id">
                {{ teacher.name }} {{ teacher.lastName }} &nbsp;&nbsp;
              </option>
            </select>
            <a>&nbsp;&nbsp;</a>
            <button class="btn-small" (click)="onAssignTeacher(subject, +teacherSelect.value)">
              Assign
            </button>
          </div>
        </ng-template>
      </td>
      <td>
        <button class="btn-small" (click)="onEdit(subject)">Edit</button>
        <button class="btn-small btn-danger" (click)="onDelete(subject)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
